@namespace OpenEugene.Theme.LittleHelpBook
@using Oqtane.Shared
@using Oqtane.Themes
@using Oqtane.Themes.Controls
@using Oqtane.UI
@inherits ThemeBase

<MudThemeProvider @ref=_mudThemeProvider @bind-IsDarkMode=_darkMode Theme="LittleHelpMudTheme" />
@* these are set in pages that need them
<MudDialogProvider />
<MudPopoverProvider />
 *@
<MudSnackbarProvider />
<main role="main">
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@MudBlazor.Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Class="deep-purple-text text-lighten-5" Typo="Typo.h5">Little Help Book</MudText>
        <MudSpacer />
        <div class="controls-group">
            <UserProfile />
            <Login />
            <ControlPanel />
            
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <MudNavLink Icon="@MudBlazor.Icons.Material.Outlined.Home" Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
        <MudNavLink Icon="@MudBlazor.Icons.Material.Outlined.VolunteerActivism" Href="/providers">Providers</MudNavLink>
        <MudNavLink Icon="@MudBlazor.Icons.Material.Outlined.QuestionMark" Href="/faq">Faq</MudNavLink>
        <MudSpacer/>
        <MudToggleIconButton @bind-Toggled="@_darkMode"
                             Color="Color.Default" ToggledColor="Color.Default"
                             Icon="@MudBlazor.Icons.Material.Filled.DarkMode"
                             ToggledIcon="@MudBlazor.Icons.Material.Filled.WbSunny" />
    </MudDrawer>
    <MudMainContent>
        <MudContainer id="content" Class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <Pane Name="@PaneNames.Admin" />
                    </div>
                </div>
            </div>
            <Pane Name="Top Full Width" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <Pane Name="Top 100%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <Pane Name="Left 50%" />
                    </div>
                    <div class="col-md-6">
                        <Pane Name="Right 50%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <Pane Name="Left 33%" />
                    </div>
                    <div class="col-md-4">
                        <Pane Name="Center 33%" />
                    </div>
                    <div class="col-md-4">
                        <Pane Name="Right 33%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <Pane Name="Left Outer 25%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Left Inner 25%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Right Inner 25%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Right Outer 25%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <Pane Name="Left 25%" />
                    </div>
                    <div class="col-md-6">
                        <Pane Name="Center 50%" />
                    </div>
                    <div class="col-md-3">
                        <Pane Name="Right 25%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <Pane Name="Left Sidebar 66%" />
                    </div>
                    <div class="col-md-4">
                        <Pane Name="Right Sidebar 33%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <Pane Name="Left Sidebar 33%" />
                    </div>
                    <div class="col-md-8">
                        <Pane Name="Right Sidebar 66%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <Pane Name="Bottom 100%" />
                    </div>
                </div>
            </div>
            <Pane Name="Bottom Full Width" />
        </MudContainer>
    </MudMainContent>
</MudLayout>
</main>